 
404.html

accordion.html
alert.html
archive.html
blog.html
button.html
comingsoon.html
contact.html
navigation.html
page-fullwidth.html
page-sidebar.html
pricing.html
progress.html
project.html
service-item.html

single-fullwidth.html
single.html
social.html
tab.html
typography.html




  
        <!-- begin:client -->
    <div
      id="client"
      class="client block-section bg-white padd-40-top padd-40-btm"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div
              id="slider-thumbnail"
              class="owl-carousel owl-theme client-slider slider-carousel navigation-hide"
            >
              <div class="item">
                <a href="#">
                  <img src="assets/img/img-client-01.png" alt="client" />
                </a>
              </div>
              <!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="assets/img/img-client-02.png" alt="client" />
                </a>
              </div>
              <!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="assets/img/img-client-03.png" alt="client" />
                </a>
              </div>
              <!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="assets/img/img-client-04.png" alt="client" />
                </a>
              </div>
              <!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="assets/img/img-client-05.png" alt="client" />
                </a>
              </div>
              <!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="assets/img/img-client-06.png" alt="client" />
                </a>
              </div>
              <!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="assets/img/img-client-07.png" alt="client" />
                </a>
              </div>
              <!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="assets/img/img-client-08.png" alt="client" />
                </a>
              </div>
              <!-- .item -->
            </div>
            <!-- #slider-thumbnail -->
          </div>
          <!-- .col-md-12 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- #client -->
    <!-- end:client -->


  <!-- facts (AOS) -->
  <div id="facts" class="facts content-section bg-theme">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
          <div class="fact-item">
            <span class="fact-item-number">
              <span class="pe-7s-alarm icon"></span>
              <span class="number number-alt">10+</span>
            </span>
            <h5 class="fact-item-info">Year Experience</h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6" data-aos="fade-up" data-aos-delay="100">
          <div class="fact-item">
            <span class="fact-item-number">
              <span class="pe-7s-medal icon"></span>
              <span class="number">16</span>
            </span>
            <h5 class="fact-item-info">Awards</h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6" data-aos="fade-up" data-aos-delay="200">
          <div class="fact-item">
            <span class="fact-item-number">
              <span class="pe-7s-tools icon"></span>
              <span class="number">549</span>
            </span>
            <h5 class="fact-item-info">Projects Done</h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6" data-aos="fade-up" data-aos-delay="300">
          <div class="fact-item">
            <span class="fact-item-number">
              <span class="pe-7s-like2 icon"></span>
              <span class="number">183</span>
            </span>
            <h5 class="fact-item-info">Great Customers</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end facts -->